*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background: #0B0B22;
    backdrop-filter: blur(87px);
    font-family: 'Noto Sans', sans-serif;
}
button{
    border: none;
    cursor: pointer;
    transition: .4s;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
/*header start*/
#header{
    padding: 20px 0;
    position: sticky;
    z-index: 100;
    top: 0;
    background: #0B0B22;
}
.navbar-logo{
    display: flex;
    align-items: center;
}
.navbar-logo ion-icon{
    color: white;
    font-size: 25px;
    padding-right: 17px;
}
.navbar-logo h1{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}
.navbar-nav a{
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    transition: .4s;
}
.navbar-nav a:hover{
    text-decoration-line: underline;
}
.navbar button{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 12px 25px;
}
.navbar button:hover{
    transform: scale(1.1);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-nav{
    display: flex;
    align-items: center;
}
.navbar-nav a{
    padding: 0 25px;
}
/*header end*/


/*hero start*/
#hero{
    padding: 40px 0;
}
.hero h3{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #16FCD2;
}
.hero h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    width: 601px;
    margin: 0 auto;
    padding: 13px 0 24px 0;
}
.hero p{
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    width: 539px;
    margin: 0 auto;
}
.hero-btn{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.hero-btn button{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 13px 25px;
    margin:  0 10px;
    transition: .4s;
}
.hero-btn button:hover{
    background: #6016FC;
    transform: scale(1.1);
}
#block{
    padding: 20px 0;
}
.block-group-one{
    width: 328px;
    height: 276px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block-group-one div{
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 40px;
}
.block-group-one div ion-icon{
    color: #FFFFFF;
    font-size: 25px;
}
.block-group-one h1{
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    padding: 30px 0 30px 40px;
}
.block-group-one p{
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
    width: 239px;
    height: 96px;
    padding-left: 40px;
}
.block-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.block-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.block-line{
    width: 100%;
    height: 2px;
    background: rgba(255,255,255, 0.1);
    margin: 40px 0;
}
#work{
    padding: 40px 0;
}
.work{
    display: flex;
    align-items: center;
    justify-content: center;
}
.work h3{
    font-weight: 600;
    font-size: 16px;
    color: #16FCD2;
}
.work h1{
    width: 476px;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
    padding: 4px 0 28px 0;
}
.work p{
    width: 502px;
    height: 96px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
}
#team{
    padding: 40px 0;
}
.team{
    display: flex;
    align-items: center;
    justify-content: center;
}
.team h3{
    font-weight: 600;
    font-size: 16px;
    color: #16FCD2;
}
.team h1{
    width: 407px;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
    padding: 4px 0 30px 0;
}
.team p{
    width: 415px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 48px;
}
.team button{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 10px 40px;
    transition: .4s;
}
.team button:hover{
    transform: scale(1.1);
    background: #6016FC;
}
.img-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.block-square{
    position: absolute;
   left: 250px;
    top: 170px;
}
.circle{
    width: 92px;
    height: 92px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-circle{
    width: 72px;
    height: 72px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-square{
    width: 328px;
    height: 285px;
    background: #161629;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px
}
.x-block{
    width: 130px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1px;
}
.x-text{
    display: flex;
    align-items: center;
    padding: 7px 11px 7px 11px;
}
.x-text h5{
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
}
.x-text h4{
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 10px;
}
.block-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.block-2-2{
    padding-top: 41px;
}
.block-square h2{
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 25px;
    padding-top: 25px;
}
.block-f{
    width: 130px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1px;
}
.write-square{
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 1px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-left: 7px;
    margin-top: 5px;
}
.block-f-text h5{
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 9px;
}
.block-f-text{
    display: flex;
    align-items: center;
}
.block-100{
    width: 49px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1px;
}
.block-100 h6{
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-3{
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-3 ion-icon{
    color: #FFFFFF;
    font-size: 20px;
}
.block-4{
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-4 ion-icon{
    color: #FFFFFF;
    font-size: 20px;
}
.f{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}
/*team end*/

/*projects start*/
#projects{
    padding: 40px 0;
}
.line{
    width: 1024px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 196px;
    margin-left: 12%;
}
.circle-1{
    width: 46px;
    height: 46px;
    background: linear-gradient(180deg, #FF81A6 0%, #FC165B 100%);
    filter: blur(5px);
    transform: rotate(-34.72deg);
    border-radius: 50%;
}
.projects-text h3{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #16FCD2;
    padding-top: 118px;
}
.projects-text p{
    width: 507px;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 4px 0 71px 0;
}
.circle-2{
    width: 55px;
    height: 55px;
    background: linear-gradient(180deg, #66FFA3 0%, #009C3E 100%);
    filter: blur(5px);
    transform: rotate(-34.72deg);
    border-radius: 50%;
    position: absolute;
    right: 300px;
    margin-top: -16%;
}
.circle-3{
    width: 29px;
    height: 29px;
    background: #6016FC;
    filter: blur(5px);
    transform: rotate(-34.72deg);
    border-radius: 50%;
    position: absolute;
    right: 100px;
    margin-top: 15%;
}
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.will-block{
    width: 502px;
    height: 441px;
    background: #161629;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 30px 60px rgba(96, 22, 252, 0.03);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.will-block-square-1{
    width: 154px;
    height: 26px;
    background: #212136;
    border-radius: 100px;
}
.will-block-square-2{
    width: 94px;
    height: 26px;
    background: #212136;
    border-radius: 100px;
    margin: 14px 0 66px 0;
}
.will-block-square-3{
    width: 194px;
    height: 256px;
    background: rgba(44, 44, 70, 0.5);
    border-radius: 20px 20px 0 0;
}
.will-square h1{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 40px;
}
.will-square p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 0 40px 0;
}
.will-square{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.will-block-square{
    width: 80px;
    height: 35px;
    background: #212136;
    border-radius: 100px;
    border: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}
.will-block-square h4{
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
/*projects end*/

#service{
    padding: 40px 0;
}
.service-block{
    width: 1308px;
    height: 911px;
    background: #221048;
    border-radius: 30px;
    margin-left: 5%;
}
.service-block h3{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #16FCD2;
    padding: 90px 0 4px 0
}
.service-block h1{
    width: 507px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 30%;
}
.service-square{
    width: 328px ;
    height: 474px ;
    background: #3F2379;
    border-radius: 10px;
}
.service-square h5{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
.from-text span{
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}
.from-text h2{
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.service-square-text{
    display: flex;
    justify-content: space-around;
    padding-top: 58px;
}
.service-line{
    width: 234px;
    height: 1px;
    background: rgba(255, 255, 255, 0.05);
    margin: 37px 47px 0 47px;
}
.service-square p{
    width: 163px;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    padding: 37px 83px 50px 82px;
}
.service-square button{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #3F2379;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 15px 90px;
    margin: 0 47px 29px 47px;
}
.service-squares{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
}
.service-square-2{
    width: 328px ;
    height: 474px ;
    background: #233679;
    border-radius: 10px;
}
.service-square-2 h5{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
.from-text-2 span{
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}
.from-text-2 h2{
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.service-square-2-text{
    display: flex;
    justify-content: space-around;
    padding-top: 58px;
}
.service-line-2{
    width: 234px;
    height: 1px;
    background: rgba(255, 255, 255, 0.05);
    margin: 37px 47px 0 47px;
}
.service-square-2 p{
    width: 163px;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    padding: 37px 83px 50px 82px;
}
.service-square-2 button{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #3F2379;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 15px 90px;
    margin: 0 47px 29px 47px;
}
.service-square-3{
    width: 328px ;
    height: 474px ;
    background: #792366;
    border-radius: 10px;
}
.service-square-3 h5{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
.from-text-3 span{
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}
.from-text-3 h2{
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.service-square-3-text{
    display: flex;
    justify-content: space-around;
    padding-top: 58px;
}
.service-line-3{
    width: 234px;
    height: 1px;
    background: rgba(255, 255, 255, 0.05);
    margin: 37px 47px 0 47px;
}
.service-square-3 p{
    width: 163px;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    padding: 37px 83px 50px 82px;
}
.service-square-3 button{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #3F2379;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 15px 90px;
    margin: 0 47px 29px 47px;
}
/*service end*/

/*testimonial start*/
#testimonial{
    padding: 40px 0;
}
.testimonial h3{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #16FCD2;
}
.testimonial h1{
    width: 507px;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 33%;
}
/*testimonial end*/

/*slider start*/
#slider{
    padding: 40px 0;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    width: 415px;
    height: 447px;
    transition: .6s;
}
.swiper-slide:hover{
    transform: translateY(-200px);

}

.swiper-slide img {
    display: block;
    width: 90px;
    height: 90px;
    object-fit: cover;
    padding: 61px 0 21px 0;
}
.swiper-slide h1{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}
.swiper-slide h3{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 8px 0 32px 0;
}
.swiper-slide p{
    width: 321px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}
/*slider end*/

/*time start*/
#time{
    padding: 40px 0;
}
.time-line{
    width: 1024px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 106px 208px 46px 208px;
}
.time-text{
    display: flex;
    align-items: center;
}
.time-text h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
    width: 589px;
    padding-left: 208px;
    padding-right: 61px;
}
.time-text button{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 15px 55px 15px 55px;
    margin-left: 10px;
    transition: .4s;
}
.time-text button:hover{
    transform: scale(1.1);
    background: #6016FC;
}
.time-circle{
    width: 46px;
    height: 46px;
    left: 1299px;
    top: 5604px;
    background: linear-gradient(180deg, #FF81A6 0%, #FC165B 100%);
    filter: blur(5px);
    transform: rotate(-34.72deg);
    border-radius: 50%;
    margin-top: -12%;
    margin-left: 10px;
}
/*time end*/

/*footer start*/
#footer{
    padding: 40px 0;
}
.footer-group{
    display: flex;
    justify-content: space-around;
}
.footer-circle{
    width: 55px;
    height: 55px;
    left: 79px;
    top: 5830px;
    background: linear-gradient(180deg, #66FFA3 0%, #009C3E 100%);
    filter: blur(5px);
    transform: rotate(-34.72deg);
    border-radius: 50%;
}
.collosal-icon{
    display: flex;
    align-items: center;
}
.collosal-icon ion-icon{
    color: #FFFFFF;
    font-size: 25px;
}
.collosal-icon h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 15px;
}
.collosal p{
    width: 250px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 21px;
}
.footer-services h1{
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.footer-services p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    padding: 19px 0 10px 0;
}
.footer-company h1{
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.footer-company p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    padding: 19px 0 10px 0;
}
.footer-resources h1{
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.footer-resources p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    padding: 19px 0 10px 0;
}
/*footer end*/


